<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602265454289-jhr4uho86qlh41a0glkqbi7d0fj3ar6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602265454289-jhr4uho86qlh41a0glkqbi7d0fj3ar6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDUyeuUq3UOOQkkGzBBMbU-TUYzojV9QHY</string>
	<key>GCM_SENDER_ID</key>
	<string>602265454289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.detailedLoginPage</string>
	<key>PROJECT_ID</key>
	<string>detailed-login-page-a196e</string>
	<key>STORAGE_BUCKET</key>
	<string>detailed-login-page-a196e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602265454289:ios:d984e8eea14930324ae7f0</string>
</dict>
</plist>